<div class="sidebar">
  <div class="box">
  </div>
</div>

<div class="content">
    <div class="box">

<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :wrapper => :inline ) do |f| %>
  <%= f.error_notification %>

    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>

    </div>
</div>
