<h2>為什麼我要弄一個為什麼產生器...</h2>
<div><%= will_paginate(@things)%></div>
<hr>

<%= link_to("也來寫一下你的 Why！", new_thing_path, :class => "btn btn-primary") %>

<br>
<br>

<table class="table table-striped table-bordered">
  <tbody>
    <% @things.each do |thing| -%>
      <tr class="mltr">
    <td>
      <%= thing.user.login %>  為什麼 <%= render_thing_verb(thing.verb) %> <%= thing.description %> ，因為 <%= truncate(thing.reason, :lenth => 50 ) %> <%= link_to "...more", thing_path(thing) %>
    </td>
      </tr>
    <% end -%>
  </tbody>
</table>
<div><%= will_paginate @things %></div>