<div class="sidebar">
  <div class="box">
    <h2>還沒有帳號?</h2>
    <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="box">
        <h2>用其他平台的帳號登入</h2>
        <ul>
                 <li><%= link_to "Google", user_omniauth_authorize_path(:facebook) %> </li>    
        </ul>
  </div>
</div>

<div class="content">
    <div class="box">
    <h2>Sign in</h2>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :wrapper => :inline ) do |f| %>
        <fieldset>
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>
        <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        </fieldset>
        <div class="actions">
            <%= f.button :submit, "Sign in" %>
        </div>
    <% end %>
    </div>
</div>