<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>

</head>
<%= render_body_tag %>

<%= render :partial => "common/menu" %>

  <div class="container">
      <%= notice_message %>

      <div class="content">
          <div class="row">
              <div class="span9">
                  <%= yield %>
              </div>
              <%= yield (:sidebar) %>
              <%# render :partial => "common/general_sidebar" %>
          </div>
      </div>
  </div>

  <footer class="footer">
    <div class="container">
      <%# raw SiteConfig.footer_html %>
    </div>
  </footer>
  

    
  <%# render :partial => "common/facebook_js" %>
  <%# render :partial => "common/google_analytics"%>
 
</body>
</html>
