<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>

</head>
<%= render_body_tag %>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3>
          <a href="/"><%= render_site_title %></a>
        </h3>
         <%= render_list :class => "nav" do |li|
         end %>
        <%# render "common/search_form" %>
        <%= render "common/user_nav" %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render_breadcrumb %>
    <%# render "common/feeds" %>

    <div id="main" class="container-fluid">
      <%# notice_message %>
      <%= yield :sidebar %>
      <%= yield %>
      
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <%# raw SiteConfig.footer_html %>
    </div>
  </footer>
  
  <%# render :partial => "common/facebook_js" %>
  <%# render :partial => "common/google_analytics"%>
 
</body>
</html>
